/* Shared css styles loaded in both main page and iframes */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #acb0b8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6d7481;
}