body {
    font-family: Arial, sans-serif;
    padding: 0 300px;
}

.card {
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 30px;
    color: white;
    box-sizing:content-box;
}

.card a{
    mix-blend-mode: difference;
    background-color: rgb(255, 255, 255);
    color: rgb(197, 197, 197);
    padding: 10px;

    border-radius: 5px;
    width: 800px;
    text-decoration: none;
}

.card p {
    margin-bottom: 25px;
    margin-top: 5px;
}

#cards-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;

}

h2 {
    margin-bottom: 5px;
    margin-top:5px;
}

#head {
    display: flex;
    flex-direction: column;
}

#head p {
    color: gray;
    margin-top: 3px;
}

#head input{
    padding: 5px;
    height: 30px;
    font-size: 17px;
    font-weight: 500;
}

#go-button {
    background-color: #208637;
    color: white;
    padding:10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
}

#go-button:hover {
    background-color: #40a156;
}